@* @model IEnumerable<TaskManager.Models.Category> *@
@model IEnumerable<CategoryViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-4">Lista de Categorías</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nueva Categoría</a>
</p>

@if (TempData["CategoriaEliminar"] != null)
{
    <div class="alert alert-danger" role="alert">
        <span>@TempData["CategoriaEliminar"]</span>
    </div>
}
@if (TempData["CategoriaEliminada"] != null)
{
    <div class="alert alert-success" role="alert">
        <span>@TempData["CategoriaEliminada"]</span>
    </div>
}
@if (TempData["CategoriaEliminadaFail"] != null)
{
    <div class="alert alert-danger" role="alert">
        <span>@TempData["CategoriaEliminadaFail"]</span>
    </div>
}
@if (TempData["CategoriaCreada"] != null)
{
    <div class="alert alert-success" role="alert">
        <span>@TempData["CategoriaCreada"]</span>
    </div>
}

@if (!Model.Any())
{
    <div class="alert alert-primary" role="alert">
        <span>No hay categorías creadas. Intente crear una.</span>
    </div>
}
else
{
    <table class="table-bordered table-responsive table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
